<!DOCTYPE html>
<html>
  <head>
    <title>PttanalRails</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'common/navbar' %>
    <div id="main-container">
      <div class="r-list-container bbs-screen">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
